{% load static %}
 <!-- Footer Start -->
 <footer id="rs-footer" class="rs-footer dark-mode pt-145 md-pt-65 sm-pt-50">
    <!-- Sponsor Logo Section Start -->
    <div class="rs-sponsor normal-mood pb-125 md-pb-135 sm-pb-170">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="logos">
                                <a href="#"><img src="images/sponsor/dark/1.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="logos">
                                <a href="#"><img src="images/sponsor/dark/2.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="logos">
                                <a href="#"><img src="images/sponsor/dark/3.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="logos">
                                <a href="#"><img src="images/sponsor/dark/4.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="logos">
                                <a href="#"><img src="images/sponsor/dark/5.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="logos">
                                <a href="#"><img src="images/sponsor/dark/6.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="logos">
                                <a href="#"><img src="images/sponsor/dark/7.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="logos">
                                <a href="#"><img src="images/sponsor/dark/8.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sponsor Logo Section End -->

    <!-- Footer Bottom Section Start -->
    <div class="footer-bootom">
        <div class="container">
            <div class="row rs-vertical-middle">
                <div class="col-md-7">
                    <div class="copyright">
                        <p>© 2019 Khelo. All Rights Reserved. Designed by <a href="http://rstheme.com/" target="_blank">RSTheme</a></p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="footer-share text-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Section End -->
</footer>
<!-- Footer End -->



<!-- Search Modal Start -->
<div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" class="flaticon-cross"></span>
    </button>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="search-block clearfix">
                <form>
                    <div class="form-group">
                        <input class="form-control" placeholder="Search Here.." type="text">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search Modal End -->